<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Jesse Vogt: <%= title %>" />
<title><%= title %></title>
<link rel="stylesheet" href="../build/custom.css" inline>
</head>
<body>
  <!-- Greetings fellow nerd. Looks like you are taking a peak under the covers.
  This is a static site - check out the details at https://bitbucket.org/jessevogt/homepage and let
  me know what I am doing wrong :) Generated <%= timestamp %> -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="jesse.200-8abe3973.jpg" class="header-image img-rounded pull-left"
          alt="Jesse Vogt :)" itemprop="photo" />
        <h1 itemprop="name">Jesse Vogt</h1>
        <p>
          <a title="email" href="mailto:jesse.vogt@gmail.com">jesse.vogt@gmail.com</a> |
          <a title="resume" href="jesse-vogt-resume.html">resume</a> |
          <a title="home" href="/">home</a>
        </p>
      </div>
    </div>
