  </div>
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-36771867-1','auto');ga('send','pageview');
  </script>
  <% if (enableLiveReload) { %>
  <script src="http://127.0.0.1:35729/livereload.js?snipver=1"></script>
  <% } %>
</body>
</html>
