<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Jesse Vogt / Software Engineer / Milwaukee, WI" />
<title>Jesse Vogt</title>
<link rel="stylesheet" href="../build/custom.css" inline>
</head>
<body>
  <!-- Greetings fellow nerd. Looks like you are taking a peak under the covers.
   This is a static site - check out the details at https://bitbucket.org/jessevogt/homepage and let me know what I am doing wrong :)
   Generated <%= timestamp %> -->
  <div class="container" itemscope itemtype="http://data-vocabulary.org/Person">
    <div class="row">
      <div class="col-xs-12">
        <img alt="Jesse Vogt :)" src="jesse.200-8abe3973.jpg" class="header-image img-rounded pull-left" itemprop="photo" />
        <h1 itemprop="name">Jesse Vogt</h1>
        <p><a title="email" href="mailto:jesse.vogt@gmail.com">jesse.vogt@gmail.com</a> | <a title="resume" href="jesse-vogt-resume.html">resume</a></p>
      </div>
    </div>
    <p>
      Hello, I am a software engineer living in
      <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address"><span itemprop="locality">Milwaukee</span>,
      <span itemprop="region">WI</span></span>.
        Quick introduction:
        grew up in rural Wisconsin,
        studied engineering at <a title="Milwaukee School of Engineering" href="http://www.msoe.edu/">MSOE</a>,
        taught English in South Korea,
        saw a bit of the world, and
        moved back to Milwaukee.

        Along the way I have worked for
        GE Healthcare,
        MeVis Medical Solutions,
        Medical College of Wisconsin, and
        <a title="HarQen" href="https://harqen.com/" itemprop="affiliation">HarQen</a>
          where I am currently <span itemprop="role">leading software development</span>.
    </p>
    <p>
      Among other things, I enjoy
      trail running,
      biking to work,
      programming,
      reading,
      my 8-5 <a title="from the HarQen patio" href="8to5view.small-35e83300.jpg">view</a>,
      walking to the <a title="Lake Michigan" href="lake.small-8044c005.jpg">lake</a>,
      and learning something new.
    </p>
    <div class="panel panel-default">
      <div class="row panel-body">
        <div class="col-lg-3 col-md-4 col-sm-5">
          <a title="Twitter" href="https://twitter.com/jesse_vogt">twitter.com/jesse_vogt</a>
          <div class="touch-target-helper"></div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5">
          <a title="LinkedIn" href="https://www.linkedin.com/in/jessevogt">linkedin.com/in/jessevogt</a>
          <div class="touch-target-helper"></div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5">
          <a title="GitHub" href="https://github.com/jessevogt">github.com/jessevogt</a>
          <div class="touch-target-helper"></div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5">
          <a title="Instagram" href="https://instagram.com/jessevogt/">instagram.com/jessevogt</a>
          <div class="touch-target-helper"></div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5">
          <a title="StackOverflow" href="https://stackoverflow.com/users/9822">stackoverflow.com/users/9822</a>
          <div class="touch-target-helper"></div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5">
          <a title="Google+" rel="publisher" href="https://plus.google.com/+JesseVogt">plus.google.com/+JesseVogt</a>
          <div class="touch-target-helper"></div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5">
          <a title="StackOverflow Careers" href="https://careers.stackoverflow.com/jessevogt">careers.stackoverflow.com/jessevogt</a>
          <div class="touch-target-helper"></div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5">
          <a title="Google Code" href="https://code.google.com/u/jesse.vogt/">code.google.com/u/jesse.vogt</a>
          <div class="touch-target-helper"></div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5">
          <a title="Bitbucket" href="https://bitbucket.org/jessevogt">bitbucket.org/jessevogt</a>
          <div class="touch-target-helper"></div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5">
          <a title="Facebook" href="https://www.facebook.com/jesse.vogt">facebook.com/jesse.vogt</a>
          <div class="touch-target-helper"></div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5">
          <a title="Blogspot" href="https://lastcurlybrace.blogspot.com/">lastcurlybrace.blogspot.com</a>
          <div class="touch-target-helper"></div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5">
          <a title="Homepage" href="http://jessevogt.com/" itemprop="url">jessevogt.com</a>
        </div>
      </div>
    </div>
  </div>
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-36771867-1','auto');ga('send','pageview');
  </script>
  <% if (enableLiveReload) { %><script src="http://127.0.0.1:35729/livereload.js?snipver=1"></script><% } %>
</body>
</html>
